.about {
    height: 30vh;
    background-color: var(--offWhite);
    padding: max(40px);
}

.stripeContainer {
    display: flex;
    column-gap: 20px;
}

.stripe {
    flex: 1;
    height: 200px;
    transform: skew(-30deg);
}

.stripe.orange {
    background-color: var(--mainOrange);
}
.stripe.redOrange {
    background-color: var(--mainRedOrange);
}
.stripe.navy {
    background-color: var(--mainNavy);
}
.stripe.darkBlue {
    background-color: var(--mainDarkBlue);
}

/* div {
    border: solid black 1px;
} */