.about {
    height: 40vh;
    background-color: var(--computerDarkBorder);
    border-radius: 25px;
    padding: max(40px);
    color: var(--terminalText);
}

.aboutHeader {
    display: flex;
    align-items: center;
    width: 100%;
}

.aboutHeader hr {
    flex:1;
    border: 3px dashed var(--terminalText);
    margin: 15px;
    transform: skew(-30deg);
}

.stripeContainer {
    display: flex;
    column-gap: 5px;
}

.stripeContainer.line {
    flex: 1;
    display: flex;
    column-gap: 0px;
    padding-left: 15px;
}

.stripeContainer.line > .stripe {
    height: 8px;
}

.stripe {
    flex: 1;
    height: 20px;
    transform: skew(-30deg);
}

.stripe.orange {
    background-color: var(--mainOrange);
}
.stripe.redOrange {
    background-color: var(--mainRedOrange);
}
.stripe.navy {
    background-color: var(--mainNavy);
}
.stripe.darkBlue {
    background-color: var(--mainDarkBlue);
}

@media (max-width: 775px) {
    .about {
        padding: 20px;
    }

    .aboutHeader {
        margin-top: 10px;
        display: block;
    }
}

@media (max-width: 400px) {
    .about {
        padding: 0px;
    }
}


/* .about * {
    border: solid black 1px;
} */