/* .floppy {
    position: absolute;
    transform: scale(40%);
} */

/* .floppy .mainFill {
    fill: var(--floppyRed);
}

.floppy .bottomFill {
    fill: var(--floppyRed);
}

.floppy .topFill {
    fill: var(--offWhite);
}

.floppy .mainOutline, .floppy .bottomOutline, .floppy .topOutline {
    fill: var(--floppyDarkRed);
} */