@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');

.floppy {
    /* position: absolute; */
    /* transform: scale(15%); */
    /* width: 200px; */
    width: 200px;
    /* transform: scale(70%); */
    transition: 200ms;
}

button.floppy {
    border: none;
}


.floppy {
    background: transparent;
}


.floppy:hover {
    width: max(220px);
}

.floppy .topFill {
    fill: var(--mainWhite);
}

.floppy text {
    /* fill: var(--mainWhite); */
    font-family: Permanent Marker,'Courier New', Courier, monospace;
    font-size: 70px;
    font-weight: 800;
}

/* .floppy {
    position: absolute;
    transform: scale(40%);
} */

/* .floppy .mainFill {
    fill: var(--floppyRed);
}

.floppy .bottomFill {
    fill: var(--floppyRed);
}

.floppy .topFill {
    fill: var(--offWhite);
}

.floppy .mainOutline, .floppy .bottomOutline, .floppy .topOutline {
    fill: var(--floppyDarkRed);
} */

@media (max-width:1400px) {
    .floppy {
        width: 150px;
    }

    .floppy:hover {
        width: max(170px);
    }
}

@media (max-width:600px) {
    .floppy {
        width: 110px;
    }

    .floppy:hover {
        width: max(130px);
    }
}

@media (max-width:400px) {
    .floppy {
        width: 80px;
    }

    .floppy:hover {
        width: max(100px);
    }
}





