.hero {
    height:90vh;
    background-color: var(--offWhite);
    /* border: blue solid 3px; */
    display: grid;
    align-content: center;
}

.hero > .illustrationContainer {
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: solid red 3px; */
} 

.hero .stripeIllustration {
    width: 100%;
    height: 500px;
}

path.main {
    stroke: var(--mainDarkBlue);
    stroke-width: 50px;
}

path.outer1 {
    stroke: var(--mainNavy);
    stroke-width: 50px;
}

path.outer2 {
    stroke: var(--mainRedOrange);
    stroke-width: 50px;
}

path.outer3 {
    stroke: var(--mainOrange);
    stroke-width: 50px;
}

/* FLOPPY FORMATTING BELOW */

.floppy.floppy1 {
    right: 35%;
    top: 25%;
}

.floppy.floppy2 {
    right: 22%;
    top: 25%;
}

.floppy.floppy3 {
    right: 9%;
    top: 25%;
}

.floppy1 .mainFill, .floppy1 .bottomFill {
    fill: var(--floppyRed);
}

.floppy1 .mainOutline, .floppy1 .bottomOutline, .floppy1 .topOutline {
    fill: var(--floppyDarkRed);
}

.floppy2 .mainFill, .floppy2 .bottomFill {
    fill: var(--floppyYellow);
}

.floppy2 .mainOutline, .floppy2 .bottomOutline, .floppy2 .topOutline {
    fill: var(--floppyDarkYellow)
}

.floppy3 .mainFill, .floppy3 .bottomFill {
    fill: var(--floppyBlue);
}

.floppy3 .mainOutline, .floppy3 .bottomOutline, .floppy3 .topOutline {
    fill: var(--mainBlack);
}



/* .hero * {
    border: solid red 1px;
} */