* {
    margin: 0px;
    padding: 0px;
}

.homeButton {
    background-color: transparent;
    width: auto;
    border: none;
}


.navBar {
    position: sticky;
    top: 0px;
    width: 100vw;
    height: max(60px);
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: var(--mainOrange); */
    background-color: transparent;
    color: var(--mainBlack);
}

.siteName {
    display: flex;
    gap: max(20px);
    margin-left: max(30px);
}

.mainLogo img {
    display: block;
    width: max(12%,40px);
    margin-left: auto;
    margin-right: auto;
    animation: gear-spin 10s infinite;
}

@keyframes gear-spin {
    0% {
        transform: rotate(0deg);
    }

    40% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(360deg);
    }
    
}

.links {
    display: flex;
    gap: max(20px);
    margin-right: max(30px);
}

/* div {
    border: solid blue 1px;
} */