.projects {
    height: 30vh;
    background-color: var(--computerDarkBorder);
    border-radius: 25px;
    padding: max(40px);
    color: var(--terminalText);
}

.projectsHeader {
    display: flex;
    align-items: center;
    width: 100%;
}

.projectsHeader hr {
    flex:1;
    border: 3px dashed var(--terminalText);
    margin: 15px;
    transform: skew(-30deg);
}