.terminal {
    height: 90vh;
    /* background-color: var(--offWhite); */
    background-color: var(--carpetGreen);
    padding: max(40px);
}

.terminal.beforeScroll {
    background-color: var(--offWhite);
    transition: 500ms;
}


.terminal.afterScroll {
    background-color: var(--carpetGreen);
    transition: 500ms;
}

.terminalHeader {
    display: flex;
    align-items: center;
    width: 100%;
    color: var(--offWhite);
}

.terminalHeader hr {
    flex:1;
    border: 3px solid var(--offWhite);
    margin: 15px;
    transform: skew(-30deg);
}

.stripeContainer {
    display: flex;
    column-gap: 5px;
}

.stripeContainer.line {
    flex: 1;
    display: flex;
    column-gap: 0px;
    padding-left: 15px;
}

.stripeContainer.line > .stripe {
    height: 8px;
}

.stripe {
    flex: 1;
    height: 20px;
    transform: skew(-30deg);
}

.stripe.orange {
    background-color: var(--mainOrange);
}
.stripe.redOrange {
    background-color: var(--mainRedOrange);
}
.stripe.navy {
    background-color: var(--mainNavy);
}
.stripe.darkBlue {
    background-color: var(--mainDarkBlue);
}



/* TERMINAL */

.terminalContainer {
    display: grid;
    grid-template-columns: 2.5fr 1fr;
    margin:  30px;
    column-gap: 40px;
}

.screenShell {
    background-color: var(--agedComputer);
    height: 75vh;
    border-radius: 30px;
    display: flex;
}

.screen {
    flex:1;
    margin: max(45px);
    border-radius: 30px;
    background-color: var(--computerDarkBorder);
    border: solid var(--mainBlack) 10px;
}

/* DISK DRIVE */

.terminalHardware {
    display: flex;
    flex-direction: column;
}

.mug {
    flex: 1.1;
    /* background-color: black; */
}

.diskArray {
    display: none;
}

.diskDrive {
    flex: 0.8;
    background-color: var(--agedComputer);
    border-radius: 30px;
    display: flex;
}

.driveInset {
    flex: 1;
    background-color: rgb(49, 48, 48);
    margin: 20px;
    border-radius: 15px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}

.middleDrive {
    display: flex;
}

.floppyInsert {
    flex: 1;
    background-color: var(--mainBlack);
    border: var(--agedComputer) 12px solid;
    width: min(200px);
    height: min(20px);
    border-radius: 8px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top:30px ;
    margin-bottom:30px ;
}

.floppyInsert.aboutClick {
    background-color: var(--floppyRed);
}


.floppyInsert.skillsClick {
    background-color: var(--floppyYellow);
}


.floppyInsert.projectsClick {
    background-color: var(--floppyBlue);
}


/* FLOPPY ARRAY */

.floppy1a .mainFill, .floppy1a .bottomFill {
    fill: var(--floppyRed);
}

.floppy1a .mainOutline, .floppy1a .bottomOutline, .floppy1a .topOutline {
    fill: var(--floppyDarkRed);
}

.floppy2a .mainFill, .floppy2a .bottomFill {
    fill: var(--floppyYellow);
}

.floppy2a .mainOutline, .floppy2a .bottomOutline, .floppy2a .topOutline {
    fill: var(--floppyDarkYellow)
}

.floppy3a .mainFill, .floppy3a .bottomFill {
    fill: var(--floppyBlue);
}

.floppy3a .mainOutline, .floppy3a .bottomOutline, .floppy3a .topOutline {
    fill: var(--mainBlack);
}


/* .driveInset > div {
    border: solid orange 1px;
} */

@media (max-width:1400px) {

    .terminal {
        padding: 20px;
    }
    
    .terminalContainer {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1.8fr 1fr;
        margin:  30px;
        column-gap: 40px;
    }

    .screen {
        margin: max(25px);
        border: solid var(--mainBlack) 7px;
    }
    
    .mug {
        display: none;
    }

    .screenShell {
        background-color: var(--agedComputer);
        height: 54vh;
        border-radius: 30px;
        display: flex;
    }

    .terminalHardware {
        display: flex;
        flex-direction: row;
        justify-content:center
    }

    .diskDrive {
        margin: 15px;
    }

    .driveInset {
        margin: 15px;
        grid-template-rows: 1fr 4fr 1fr;
    }

    .diskArray {
        display: block;
    }

    
}

@media (max-width:600px) {
    .terminal {
        padding: 0px;
    }
    
    .terminalContainer {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 2.1fr 1fr;
        margin:  5px;
        column-gap: 40px;
    }

    .screen {
        margin: max(20px);
    }

    .screenShell {
        height: 58vh;
    }

    .diskDrive {
        margin: 10px;
    }

    .driveInset {
        margin: 15px;
        grid-template-rows: 1fr 2fr 1fr;
    }
}

/* .terminal * {
    border: solid coral 1px;
} */

